<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TodoList.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3C00AB8C27479626009236CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C00ABA52747962B009236CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C00ABAF2747962B009236CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C9302BE27510A5100390B4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C9302D627510A5400390B4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C9302E027510A5400390B4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
